body {
  font-family: "Helvetica", sans-serif;
  /* display: flex; */
  align-items: center;
  /* min-height: 100vh; */

  color: #eeeeee;
  justify-content: center;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#landing-page {
  background: #00050a;
  height: 100vh;
}

h1 {
  position: relative;
  font-size: 6vw;
  font-weight: bold;
  /* padding-left: 15vw; */
  overflow: hidden;
}

h1 .box {
  position: absolute;
  bottom: 0;
  display: inline-block;
  background: #2800ad;
  width: 0px;
  height: 1vw;
  z-index: -1;
}

h1 .hi {
  display: inline-block;
}

div .container {
  position: relative;
  /* top: 900px; */
}

.container2 {
  position: absolute;
  margin-left: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  gap: 250px;
}

.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0vh;
  width: 100vw;
  height: 100px;
  z-index: 99;
  /* background: red; */
}

#aboutme-section {
  position: absolute;
  display: flex;
  top: 100vh;
  height: 100vh;
  width: 100vw;
  background-color: #e8e3e8;
}

.about-me-div {
  position: absolute;
  background-color: #e8e3e8;
  height: 100%;
  width: 55%;
}

.about-me-text {
  color: #00050a;
  font-family: "Arial Rounded MT Bold", sans-serif;
  font-size: 3rem;
  margin-top: 150px;
  padding: 0 40px 0 70px;
}

.about-me-head {
  position: absolute;
  font-size: 1.6rem;
  color: #00050a;
  font-weight: 600;
  margin-top: 150px;
  margin-left: 60%;
}

.about-header {
  display: flex;
}

.about-separator {
  position: absolute;
  width: 0.2%;
  height: 70%;
  right: 45%;
  background: #00050a;
  border-radius: 30px;
  top: 60px;
}

.circles-container {
  display: flex;
  gap: 10px;
  width: 15vw;
  height: 10px;
  /* background: red; */
  position: absolute;
  top: 412px;
  left: 60%;
  align-items: center;
  justify-content: baseline;
}

.circle {
  visibility: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #00050a;
}

.separator-bottom {
  position: absolute;
  top: 90%;
  left: 5%;
  width: 90%;
  height: 0.4%;
  background: #00050a;
  z-index: 99;
}
.marquee {
  position: relative;
  overflow: hidden;
  color: #00050a;
  padding: 30px 0;
  height: fit-content;
  font-weight: 600;
  font-size: 6.7rem;
  top: 87%;
  z-index: 99;
}

.marquee-inner {
  display: flex;
  width: fit-content;
  flex: auto;
  flex-direction: row;
  gap: 20px;

  /* background: blue; */
}

.marquee-part {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 4px;
  /* background: blue; */
}

.marquee-seperator {
  width: 90%;
  height: 0.6%;
  background: #00050a;
  position: absolute;
  left: 5%;
}

/* SERVICES SECTION BABY!!!!! */

#services-section {
  position: absolute;
  top: 200vh;
  height: 100vh;
  width: 100vw;
  background-color: #e8e3e8;
  color: #00050a;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.services-div {
  /* background: red; */
  position: relative;
  top: 130px;
  display: flex;
}

.what-i-do-heading {
  width: 30%;
}

.head {
  font-size: 1.6rem;
  padding-left: 20%;
}

.vertical {
  position: absolute;
  width: 0.2%;
  left: 25%;
  height: 90%;
  background: #00050a;
  /* z-index: 99; */
  border-radius: 30px;
}

.ui-rule {
  position: absolute;
  top: 0;
  left: 60%;
  background: #00050a;
  width: 0.2%;
  height: 40%;
}
.services {
  display: flex;
  gap: 10px;
  width: 80%;
}

.prod-rule {
  position: absolute;
  top: 50%;
  left: 60%;
  background: #00050a;
  width: 0.2%;
  height: 40%;
}

.horizontal-rule {
  position: absolute;
  top: 45%;
  width: 66.3%;
  left: 29%;
  height: 0.4%;

  background: #00050a;
  z-index: 99;
  border-radius: 30px;
}

.service {
  height: 200px;
  width: 87%;
  margin-bottom: 30px;
}

.title {
  padding-left: 24px;
  font-size: 2.7rem;
}

.service-text {
  padding-left: 24px;
  padding-right: 20px;
  margin-top: 24px;
}

#skills-section {
  position: absolute;
  top: 300vh;
  padding: 10px 0;
  height: 100vh;
  width: 100vw;
  background: #e8e3e8;
  overflow: hidden;
}

.skills-marquee {
  position: absolute;
  /* background: blue; */
  top: -10%;
  /* z-index: 99; */
  margin-top: 20px;
}

.skill-wrapper {
  position: relative;
  display: flex;
  /* background: #2800ad; */
  width: 100%;
  height: 80%;
  margin-top: 120px;
}

.technical-side {
  width: 45%;
  height: 100%;
  /* background: red; */
}

.tech-head {
  color: #00050a;
  margin-left: 100px;
  margin-top: 100px;
}

.soft-head {
  color: #00050a;
  margin-left: 100px;
  margin-top: 100px;
}

.skills {
  margin-left: 100px;
  margin-top: 50px;
  /* background-color: blue; */
  color: #00050a;
}

.skill {
  list-style: none;
  font-size: 2.3rem;
  line-height: 1.5;
  color: #00050a;
}

.skill-meter {
  position: relative;
  width: 50px;
  height: 50px;
  background: cornflowerblue;
}

.outer {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid red;
}

/* .skill-meter {
  position: absolute; */
/* margin-left: 50px; */
/* width: 10%;
  border-radius: 50%;
  height: 10%;
  border: 1px solid #00050a;
  background: transparent;
} */

.html {
  top: 42%;
}

.css {
  top: 53%;
}

.javascript {
  top: 64%;
}

.react {
  top: 75%;
  /* background-color: blue; */
}

.figma {
  top: 86%;
}

.soft-side {
  position: relative;
  /* bottom: 100px; */
  width: 70%;
  height: 100%;
  /* background: pink; */
}

#contact {
  position: absolute;
  display: flex;
  top: 400vh;
  height: 100vh;
  width: 100vw;
  background: #00050a;
  color: #eeeeee;
}

hr {
  position: absolute;
  left: 0;
  width: 100vw;
  top: -5vh;
}

.contact-container {
  /* display: flex; */
  width: 50%;
  height: 500px;
  /* background: red; */
  position: absolute;
  padding-top: 100px;
  padding-left: 80px;
}

.code-snip-div {
  position: relative;
  width: 50%;
  left: 50%;
  height: 500px;
  /* background: blue; */
}

.snip {
  position: absolute;
  width: 450px;
  margin-top: 100px;
  right: 150px;
}

h4 {
  font-size: 2rem;
}

.email {
  font-size: 1.6rem;
  padding-bottom: 20px;
  padding-top: 20px;
}

.links {
  position: absolute;
  bottom: 10px;
  display: flex;
  gap: 100px;
  list-style: none;
}

.pic {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 5%;
}

.github,
.behance,
.linkedin {
  color: #eee;
  text-decoration: none;
}

.github:hover,
.behance:hover,
.linkedin:hover {
  color: #3d06f0;
}

/* MEDIA QUERY */

@media screen and (max-width: 428px) {
  #landing-page {
    /* height: 90%; */
    /* text-align: center; */
  }

  .circle {
    visibility: visible;
  }

  .about-me-div {
    align-items: center;
    justify-content: center;
    /* background: red; */
    width: 100%;
    height: 70%;
  }

  .about-me-text {
    position: absolute;
    top: 10%;
    text-align: center;
    font-size: 2rem;
  }

  .about-separator {
    transform: rotate(90deg);
    top: 0%;
    height: 30%;
    width: 0.5%;
  }

  .about-me-head {
    top: -10%;
    right: 155px;
    align-items: center;
    justify-content: center;
    width: 20%;
    font-size: 14px;
  }

  .marquee.work {
    /* background: blue; */
    top: 75%;
  }

  .services-div {
    /* background-color: yellow; */
    flex-direction: column;
    gap: 20px;
  }

  .services {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 20%;
  }

  #services-section {
    /* background: blue; */
    padding-top: 50px;
    height: 200vh;
  }

  .service {
    margin-bottom: 100px;
  }
  .what-i-do-heading {
    position: absolute;
    top: -130px;
    font-size: 14px;
    right: 35vw;
    z-index: 99;
  }

  .separator-bottom {
    top: 110%;
    height: 0.3%;
    width: 60%;
    left: 100px;
  }

  .marquee-seperator {
    /* width: 40%; */
    height: 1.5%;
  }

  .ui-rule,
  .prod-rule,
  .vertical,
  .horizontal-rule {
    display: none;
  }

  .title {
    font-size: 1.7rem;
  }

  .service-text {
    font-size: 14px;
  }

  .head {
    font-size: 1rem;
    text-align: center;
  }

  .circle {
    height: 16px;
    width: 16px;
  }
  .circles-container {
    /* background: #3d06f0; */
    /* gap: 20px; */
    left: 43%;
    top: 55%;
  }

  .services-circle {
    /* background: red; */
    /* height: 16px; */

    top: 95%;
    left: 25vw;
  }

  #skills-section {
    /* background: yellow; */
    top: 350vh;
  }

  .skills-marquee {
    top: 10px;
  }

  #contact {
    padding-top: 30px;
    flex-direction: column;
    /* background-color: red; */
    align-items: center;
    top: 460vh;
  }

  .contact-container {
    /* background: blue; */
    width: 100%;
  }

  .pic {
    border-radius: 3px;
    width: 300px;
    height: 300px;
    left: 15%;
    bottom: -50px;
  }
  .contact-circle {
    background: #eee;
  }

  .contacts-circle {
    top: 85%;
    left: 45%;
  }

  .code-snip-div {
    display: none;
  }

  .contact-me {
    position: absolute;
    display: inline;
    left: 29%;
    font-size: 2rem;
    top: 12%;
  }
  .email {
    position: absolute;
    font-size: 1.3rem;
    display: inline;
    left: 14%;
    top: 30%;
  }

  .links {
    top: 122%;
    gap: 50px;
    z-index: 99;
  }
}
